@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --nav-height: 7.2rem;
}

/* Todas animações de keyframe do site */

@keyframes xiado {
  0% {
    opacity: 100%;
  }
  38% {
    opacity: 100%;
  }
  40% {
    opacity: 60%;
  }
  42% {
    opacity: 100%;
  }
  44% {
    opacity: 60%;
  }
  46% {
    opacity: 100%;
  }
  48% {
    opacity: 60%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes entradaAviao {
  0% {
    transform: translateX(400px) translateY(100px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes Flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes cubo {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

@keyframes InOut {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-3rem) translateY(-4rem);
  }
}

@keyframes mouse {
  0% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(2rem);
  }
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* ::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
  }

   
  ::-webkit-scrollbar-track {
    background: #515151;
  }

  /
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  } */

body {
  max-width: 100vw;
  position: relative;
  min-height: 100vh;
  background-image: url(img/bg11.jpg);
  background-size: cover;
  backdrop-filter: blur(6px);
  background-attachment: fixed;
  overflow: overlay;
}

section {
  padding: 5rem;
}

main {
  max-width: 100vw;
}

header {
  width: 100%;
  padding: 0rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 7.5rem;
  padding: 0 3rem;
}

header.rolagem {
  background-color: #1f24268e;
  transition: all 0.5s;
  height: auto;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.5rem;
  gap: 2rem;
  list-style-type: none;
  padding: 2rem;
}

a {
  text-decoration: none;
}

/*  Botões menu */

.nav-menu {
  transition: 0.5s linear;
  position: relative;
  overflow: hidden;
  padding: 1.3rem;
  text-align: center;
  margin: 0 1.5rem;
  background: transparent;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.nav-menu:hover:before {
  border-color: #ffffffa1;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

nav > a.ativo::before {
  border-color: #ffffffa1;
  height: 100%;
  transform: translateX(0);
  transition: all 0.1s;
}

/* -------- Section Inicio -------------- */

.sectionInicio {
  width: 100vw;
  height: calc(100vh - var(--nav-height));
  display: flex;
  padding: 5rem;
  justify-content: center;
  align-items: center;
}

.topo-apresentacao {
  position: relative;
  display: flex;
  height: 49rem;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}

.info {
  width: 70%;
  padding: 2rem 2rem 0 0;
  font-size: 2rem;
  display: flex;
  justify-content: left;
}

.fundo-animacao {
  position: absolute;
  padding: 1rem;
  width: 40rem;
  height: 50rem;
  background-color: rgb(17, 17, 17);
  z-index: -1;
  border-radius: 1rem;
  right: 0;
  bottom: 0;
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.445);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.aviao-ani {
  width: 37rem;
  transform: translateX(40rem);
  animation: entradaAviao 1.8s 0.5s linear forwards,
    Flutuar 8s linear 2.3s infinite alternate;
}

.meu-nome {
  display: block;
  font-size: 2.5rem;
  padding-left: 0.3rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Cabin", sans-serif;
}

h1 {
  font-family: "Cabin", sans-serif;
  font-size: 9rem;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.423);
  padding: 0;
}

#info-container {
  display: flex;
  justify-content: start;
  font-size: 1.6rem;
  width: 75rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 0.3rem;
}

#info-resumo {
  margin-top: 2rem;
  width: 100%;
  justify-content: end;
}

#info-resumo > p {
  line-height: 2.2rem;
}

.container-email {
  margin-top: 2em;
  display: flex;
  gap: 1rem;
}

.ende-email {
  display: flex;
  width: 65%;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff11;
  backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.566);
  transition: background-color 0.6s;
}

#icone-email {
  border-right: 1px solid rgb(0, 0, 0);
  padding: 0 1.5em 0 0;
  filter: invert(1);
}

#copiar-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  background-color: #0000007b;
  backdrop-filter: blur(4px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.196);
  border-radius: 5px;
  transition: all 0.3s;
}

#copiar-email:hover {
  transform: scale(1.05);
  background-color: #000000c0;
  box-shadow: 2px 2px 5px rgb(1, 1, 2);
}

/* .scroll-1 {
  visibility: hidden;
} */

/* --------------- Section Sobre --------------- */

.sectionSobre {
  width: 100vw;
  min-height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 1rem 5rem;
  padding-top: calc(5rem + var(--nav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  width: 100%;
  font-size: 3.5rem;
  padding: 2rem 10rem;
  display: flex;
  justify-content: left;
  font-family: "Cabin", sans-serif;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.423);
  text-transform: uppercase;
}

.container-sobre {
  display: flex;
  justify-content: left;
  width: 100%;
  padding: 1rem 10rem;
  margin: 1rem 0;
}

.boxOne {
  justify-content: left;
}

.boxTwo {
  justify-content: right;
  transform: translateY(-30rem);
  z-index: -1;
}

.info-pessoais {
  width: 45%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.764);
  padding: 4rem;
  border-radius: 1rem;
  border: 2px solid white;
  box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.658);
}

.infoBoxTwo {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.658);
}

.info-pessoais h3 {
  display: block;
  width: 100%;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid white;
}

.info-pessoais p {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}

.box-iconesSociais {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  filter: invert(1);
}

.box-iconesSociais img {
  width: 4.5rem;
  transition: all 0.5s;
}

.box-iconesSociais a img:hover {
  transform: scale(1.15);
}

/* --------------- Section Projeto --------------- */

.sectionProjetos {
  width: 100vw;
  height: auto;
  display: flex;
  padding: 1rem 5rem;
  padding-top: calc(1rem + var(--nav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionProjetos .titulo {
  margin-bottom: 3rem;
  justify-content: right;
}

.containerProjetos {
  width: 100%;
  height: auto;
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.boxProjetos {
  width: 100%;
  height: 45rem;
  display: flex;

  border-radius: 1.5rem;
  overflow: hidden;
}

.gifSite {
  position: relative;
  width: 80rem;
}

.gifProjeto {
  width: 100%;
  height: 100%;
}

.gifProjeto img {
  width: 100%;
  height: 100%;
}

.camadaSobreposta {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000d2;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  transition: all 1s;
}

.camadaSobreposta img {
  filter: invert(1);
  animation: mouse 1.5s linear infinite alternate;
}

.camadaSobreposta:hover {
  opacity: 0;
}

.descricaoSite {
  background-color: rgba(0, 0, 0, 0.764);
  width: min(50rem, 100%);
  height: 100%;
  padding: 3rem 3rem;
  border-radius: 0 1.5rem 1.5rem 0;
}

/* quando a largura for menor que 70rem(700px) pega 100% */

.descricaoSite h3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.descricaoSite p {
  font-size: 1.8rem;
  font-weight: 500;
}

.box-btn-projetos {
  display: flex;
  justify-content: left;
  padding: 5rem 0;
  gap: 3rem;
}

.btn-projetos {
  width: 15rem;
  position: relative;
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #353535;
  border-radius: 1rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-projetos::before,
.btn-projetos::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.btn-projetos:hover {
  transform: scale(1.1);
}

.btn-projetos:hover::before,
.btn-projetos:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-projetos:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.btn-projetos:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

.boxProjetoRight {
  justify-content: right;
}

.boxProjetoRight .descricaoSite {
  border-radius: 1.5rem 0 0 1.5rem;
}

.todosProjetos {
  margin: 10rem 0;
  transition: transform 0.2s;
}

.todosProjetos a {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.todosProjetos:hover {
  transform: scale(1.05);
}

/* --------------- Section Habilidades --------------- */

.sectionHabiladades {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  padding: 1rem 5rem;
  padding-top: calc(1rem + var(--nav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionHabiladades .titulo {
  font-size: 3.5rem;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem;
}

.sectionHabiladades .titulo h3 {
  text-transform: initial;
  margin-top: 3rem;
  font-size: 2.2rem;
}

.box-habilidades {
  width: 100%;
  margin-top: 5rem;
  padding: 3rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4rem;
}

.card-container {
  width: 20rem;
  height: 25rem;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #0000007b;
}

.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s linear;
}

.card .front-content p {
  transition: all 1s linear;
}

.card .front-content p img {
  width: 12rem;
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: linear-gradient(-45deg, #7b7b7b 0%, #3d3d3d 100%);
  color: #e8e8e8;
  padding: 0.8rem;

  transform: translateX(-96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.5rem;
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateX(-30%);
}

.card:hover .front-content p {
  opacity: 0;
}

/* ---------- SEction comparação fotos -------------------- */

 .containerFotos {
  display: grid;
  place-items: center;
  min-height: 100vh;

}

.containerFotos img {
  display: block;
  max-width: 100%;
}

.container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  --position: 50%;
  border: 2px solid white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.663);
  
  
}

.image-container {
  width: 120rem;
  max-height: 80vh;
  aspect-ratio: 1/1;
  
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
   filter: grayscale(100%) 
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
 
  width: 100%;
  height: 100%;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background-color: #fff;
  
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button {
  position: absolute;
  background-color: #fff;
  color: black;
  padding: .5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
 
  box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
} 

footer {
  width: 100%;
}
