@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Lora:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes aviaoFlutuar {
    0% { transform:  translateY(0);}
    50% {transform: translateY(-25px);}
    100% {transform: translateY(0);}
}

html {
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    /* background-color: #2a51c6;  */
    /* background-image: linear-gradient(110deg, #57F29A 10%, #2955D9, #2955D9);   */
    background-image: linear-gradient(110deg, #F2BA52 10%, #2955D9, #2955D9 );   
} 

main {
    max-width: 100vw;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 10em;
    padding: 2em; 
}

ul {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.9rem;
    gap: 2rem;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    
}

.topo-apresentacao {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative
}

.info {
    width: 100%;
    padding: 2em 2em 2em 2em;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.fundo-animação {
    /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
    /* position: relative; */
    position: absolute;
    padding: 1rem;
    width: 400px;
    height: 500px;
    background-color: rgba(2, 13, 34, 0.482);
    z-index: -1;
    border-radius: 10px;
    right: -4em;
    bottom: -7em;
    box-shadow: 4em 4em 0px rgba(2, 13, 34, 0.223);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 30px solid black;
}

.aviao-ani {
    width: 350px;
    animation: aviaoFlutuar 5s linear infinite alternate;
}

.info > p {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
}

.info img {
    width: 4rem;     
    border-radius: 10px;
    filter: invert(1);
}

#info-container {
    display: flex;
    justify-content: first;
    font-size: 1.6rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
}

#info-resumo {
    width: 60%;
    padding-left: 2em;
}

#info-resumo > p {
    line-height: 2.2rem;
}

.container-email {
    margin-top: 1em;
    display: flex;
    gap: 1rem;

}

.ende-email {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4477ee47;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.566);
    transition: background-color .6s;
}

#copiar-email {
    position: relative;
    width: 35%;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    background-color: #041a4464;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    transition: all .3s;
}

#copiar-email:hover {
    transform: scale(1.05);
    background-color: #020d227b;
}
