@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  font-size: 62.5%;
  --nav-height: 7.2rem;

}

/* Todas animações de keyframe do site */

@keyframes xiado {
  0% {opacity: 100%;}
  38% {opacity: 100%;}
  40% {opacity: 60%;}
  42% {opacity: 100%;}
  44% {opacity: 60%;}
  46% {opacity: 100%;}
  48% {opacity: 60%;}
  50% {opacity: 100%;}
  100% {opacity: 100%;}
}

@keyframes entradaAviao {
  0% {
    transform: translateX(400px) translateY(100px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes Flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes cubo {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

@keyframes InOut {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-3rem) translateY(-4rem);
  }
}

@keyframes mouse {
  0% {
    transform: translateX(-12px);
  }
  100% {
    transform: translateX(12px);
  }
}

 html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
  }

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {

  /* ::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
  }

   
  ::-webkit-scrollbar-track {
    background: #515151;
  }

  /
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  } */

  body {
    width: 100vw;
    min-height: 100vh;
    /* background-color: #2a51c6;  */
    /* background-image: linear-gradient(110deg, #F2BA52 10%, #2955D9, #2955D9); */
    background-image: url(../img/bg11.jpg);
    background-size: cover;
    backdrop-filter: blur(6px);
    background-attachment: fixed;
    overflow: auto;
  }



  .alinhamentoGeral {
    width: min(160rem, 100%);
  }

  section {
    padding: 2rem;
  }


  main {
    max-width: 100vw;
  }

  header {
    width: 100%;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 7.5rem;
  }

  header.rolagem {
    background-color: #1f2426;
    transition: all 0.5s;
  }

  nav {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
    list-style-type: none;

  }

  a {
    text-decoration: none;
  }

  /*  Botões menu */

  .nav-menu {
    width: 13.2rem;
    transition: 0.5s linear;
    position: relative;
    overflow: hidden;
    padding: 1.3rem;
    text-align: center;
    margin: 0 1rem;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px;
  }

  .nav-menu::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }

  .nav-menu::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }

  .nav-menu:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.685);
    cursor: pointer;
  }

  .nav-menu:hover:before {
    border-color: #ffffffa1;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.3s;
  }

  .nav-menu:hover:after {
    border-color: #ffffff93;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.5s;
  }

  nav > a.ativo::after {
    border-color: #ffffff93;
    height: 100%;
    transform: translateX(0);
    transition: all .1s;
  }

  nav > a.ativo::before {
    border-color: #ffffffa1;
    height: 100%;
    transform: translateX(0);
    transition: all .1s;
  }

  /* -------- Inicio -------------- */

  #inicio > .alinhamentoGeral {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .section-1 {
    height: calc(100vh + var(--nav-height) );
    padding-top: 9rem;  
    display: flex;
    justify-content: center;
    align-items: top;
  }

  .topo-apresentacao {
    position: relative;
    display: flex;
    width: 120rem;
    height: 49rem;
    align-items: left;
    justify-content: left;
    flex-direction: column;
  }

  .info {
    width: 70%;
    padding: 2rem 2rem 0 0;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    
  }

  .fundo-animacao {
    position: absolute;
    padding: 1rem;
    width: 40rem;
    height: 50rem;
    background-color: rgb(17, 17, 17);
    z-index: -1;
    border-radius: 1rem;
    right: 0;
    bottom: 0;
    box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.445);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
  }

  .aviao-ani {
    width: 37rem;
    transform: translateX(40rem);
    animation: entradaAviao 1.8s 0.5s linear forwards,
    Flutuar 8s linear 2.3s infinite alternate;
  }

  .meu-nome {
    display: block;
    font-size: 2.5rem;
    padding-left: 0.3rem;
    
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Cabin", sans-serif;
  }

  h1 {
    font-family: "Cabin", sans-serif;
    font-size: 9rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.423);
    padding: 0;
  }

  #info-container {
    display: flex;
    justify-content: start;
    font-size: 1.6rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 0.3rem;
    
  }

  #info-resumo {
    width: 60%;
    justify-content: end;
  }

  #info-resumo > p {
    line-height: 2.2rem;
  }

  .container-email {
    margin-top: 1em;
    display: flex;
    gap: 1rem;
  }

  .ende-email {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff11;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.566);
    transition: background-color 0.6s;
  }

  #icone-email {
    border-right: 1px solid rgb(0, 0, 0);
    padding: 0 1.5em 0 0;
    filter: invert(1);
  }

  #copiar-email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    background-color: #0000007b;
    backdrop-filter: blur(4px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.196);
    border-radius: 5px;
    transition: all 0.3s;
  }

  #copiar-email:hover {
    transform: scale(1.05);
    background-color: #000000c0;
    box-shadow: 2px 2px 5px rgb(1, 1, 2);
  }

  .scroll-1 {
    visibility: hidden;
  }

  /* --------------  Sobre mim --------------*/

  
  .section-2 {
    background-color: #515151af;
    width: 100vw;
    min-height: 100vh;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding-top: var(--nav-height);
  }

  .titulo {
    background-color: rgba(0, 0, 0, 0.647);
    backdrop-filter: blur(5px);
    font-size: 3rem;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  .container-sobre {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    
  }

  .animacao-mao {
    position: relative;
    width: 49%;
    height: 53rem;
    animation: InOut 7s linear infinite alternate; 

  }

  .animacao-mao > img {
    width: 85rem;
    position: absolute;
    left: -10rem;

  }

  .info-pessoais {
    width: 49%;
    height: 53rem;
    background-color: rgba(0, 0, 0, 0.764);
    padding: 3rem;
    text-align: justify;
    border-radius: 1rem;
  }

  .info-pessoais h3 {
    display: block;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .info-pessoais p {
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
  }

  .box-iconesSociais {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    filter: invert(1);
  }

  .box-iconesSociais img {
    width: 4.5rem;
    transition: all .5s;
  }

  .box-iconesSociais img:hover {
    transform: scale(1.15);
  }

 

  /* Animação Cubo 3D */

  .cube-loader {
    position: absolute;
    z-index: 1;
    top: 15%;
    right: 10%;
    width: 19rem;
    height: 19rem;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cubo 16s linear infinite;  
  }

  .cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }

  .cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    transform: rotateY(calc(90deg * var(--i))) translateZ(9.5rem);
    background: linear-gradient(to bottom,  #ffffffc5, #000000e0); 
    animation: xiado 5s linear infinite;
    
     /* opacity: 80%; */
  }

  .cube-loader .cube-wrapper .cube-span img {
    width: 100% ;
    display: none;
    
  }

  .cube-top {
    position: absolute;
    width: 19rem;
    height: 19rem;
    background: hsla(330, 3%, 25%, 0.892) 0%;
    transform: rotateX(90deg) translateZ(9.5rem);
    transform-style: preserve-3d;
    
  }

  .cube-top::before {
    content: "";
    position: absolute;
    width: 19rem;
    height: 19rem;
    background: rgba(0, 0, 0, 0.586) 19.6%;
    transform: translateZ(-25rem);
    filter: blur(10px);
    box-shadow: 0px 0px 10px #323232;
    animation: xiado 5s linear infinite;
   
  } 


  /* ---------------- Projetos --------------------- */

  .container-3 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }

  .box-projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .lado-esquerda {
    width: 90%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.593);
    border-radius: 1rem;
  }

   .imagem-site {
    width: 60%;
    border-radius: 2rem;
    overflow: hidden;
  }

  .imagem-site img {
    width: 100%;
  }

  .descricao-site {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }

  .descricao-site > h3 {
    font-size: 3rem;
    padding: 1rem 0;
  }

  .descricao-site h4 {
    font-size: 2.2rem;
    padding: 1rem 0;
  }

  .descricao-site p {
    font-size: 1.8rem;
    padding: 1rem 0;
  }

  .icones-projetos {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }

  .icones-projetos a {
    margin-right: 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #3d3d3d;
    
  }


  

  /* ---------------- Habilidades ----------------- */

  .container-4 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
  }

  .title3 {
    margin-top: 9rem;
  }

  .box-habilidades {
    width: 100%;
    margin-top: 5rem;
    padding: 3rem;
  }

  .cards {
    display: flex;
    justify-content: space-around;
  }

  .card-container {
    width: 250px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #0000007b;
  }

  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s linear;
  }

  .card .front-content p {
    transition: all 1s linear;
  }

  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    background: linear-gradient(-45deg, #7b7b7b 0%, #3d3d3d 100%);
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;

    transform: translateX(-96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .content p {
    font-size: 1.5rem;
  }

  .card:hover .content {
    transform: translateY(0);
  }

  .card:hover .front-content {
    transform: translateX(-30%);
  }

  .card:hover .front-content p {
    opacity: 0;
  }
}


/* --------------------------- TELAS MENORES -------------------  */
@media (max-width: 1023px) {
  
  body {
    width: 100vw;
    /* background-color: #2a51c6;  */
    /* background-image: linear-gradient(110deg, #F2BA52 10%, #2955D9, #2955D9); */
    background-image: url(../img/bg11.jpg);
    background-size: cover;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-attachment: fixed;
    overflow: hidden;
  }

  .alinhamentoGeral {
    width: min(60rem, 100%);
  }

  section {
    padding: 1rem;
  }


  header {
    display: none;
    width: 100%;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 7.5rem;
  }

  header.rolagem {
    background-color: #1f2426;
    transition: all 0.5s;
  }

  nav {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
    list-style-type: none;

  }

  a {
    text-decoration: none;
  }

  /*  Botões menu */

  .nav-menu {
    width: 13.2rem;
    transition: 0.5s linear;
    position: relative;
    overflow: hidden;
    padding: 1.3rem;
    text-align: center;
    margin: 0 1rem;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px;
  }

  .nav-menu::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }

  .nav-menu::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }

  .nav-menu:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.685);
    cursor: pointer;
  }

  .nav-menu:hover:before {
    border-color: #ffffffa1;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.3s;
  }

  .nav-menu:hover:after {
    border-color: #ffffff93;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.5s;
  }

  nav > a.ativo::after {
    border-color: #ffffff93;
    height: 100%;
    transform: translateX(0);
    transition: all .1s;
  }

  nav > a.ativo::before {
    border-color: #ffffffa1;
    height: 100%;
    transform: translateX(0);
    transition: all .1s;
  }

  /* -------- Inicio -------------- */

  #inicio > .alinhamentoGeral {
    display: flex;
    align-items: center;
    
  }
  .section-1 {
    width: 100%;
    height: 100vh; 
    display: flex;
    overflow: hidden;
  }

  .topo-apresentacao {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 1rem;
    flex-direction: column;
  }

  .info {
    width: 100%;
    padding: 2rem 2rem 0 0;
    font-size: 2rem;
    display: flex;
    margin-bottom: 1.5rem;
  }

  .fundo-animacao {
    display: none;
  }

  .meu-nome {
    display: block;
    font-size: 1.8rem;
    padding-left: 0.3rem;
    
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Cabin", sans-serif;
  }

  h1 {
    font-family: "Cabin", sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.423);
    padding: 0;
  }

  #info-container {
    display: flex;
    justify-content: start;
    font-size: 1.3rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 0.3rem;
    
  }

  #info-resumo {
    width: 100%;
    justify-content: end;
  }

  #info-resumo > p {
    line-height: 2.2rem;
  }

  .container-email {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .ende-email {
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff11;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.566);
    transition: background-color 0.6s;
    font-size: 1.3rem;
     text-decoration: none;
     text-decoration-style: none; 
     text-underline-position: none; 
     text-underline-offset: none;
  }

  #icone-email {
    width: 4.5rem;
    border-right: 1px solid rgb(0, 0, 0);
    padding: 0 .5em 0 0;
    filter: invert(1);
  }

  #copiar-email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    background-color: #0000008c;
    backdrop-filter: blur(4px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.196);
    border-radius: 5px;
    transition: all 0.3s;
  }

  .scroll-1 {
    visibility: hidden;
  }

  /* --------------  Sobre mim --------------*/

  #sobre  {
    display: none;

  }
  .section-2 {
    background-color: #515151af;
    width: 100vw;
    min-height: 100vh;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding-top: var(--nav-height);
  }

  .titulo {
    background-color: rgba(0, 0, 0, 0.647);
    backdrop-filter: blur(5px);
    font-size: 3rem;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  .container-sobre {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    
  }

  .animacao-mao {
    position: relative;
    width: 49%;
    height: 53rem;
    animation: InOut 7s linear infinite alternate; 

  }

  .animacao-mao > img {
    width: 85rem;
    position: absolute;
    left: -10rem;

  }

  .info-pessoais {
    width: 49%;
    height: 53rem;
    background-color: rgba(0, 0, 0, 0.764);
    padding: 3rem;
    text-align: justify;
    border-radius: 1rem;
  }

  .info-pessoais h3 {
    display: block;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .info-pessoais p {
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
  }

  .box-iconesSociais {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    filter: invert(1);
  }

  .box-iconesSociais img {
    width: 4.5rem;
    transition: all .5s;
  }

  .box-iconesSociais img:hover {
    transform: scale(1.15);
  }

 

  /* Animação Cubo 3D */

  .cube-loader {
    position: absolute;
    z-index: 1;
    top: 15%;
    right: 10%;
    width: 19rem;
    height: 19rem;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cubo 16s linear infinite;  
  }

  .cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }

  .cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    transform: rotateY(calc(90deg * var(--i))) translateZ(9.5rem);
    background: linear-gradient(to bottom,  #ffffffc5, #000000e0); 
    animation: xiado 5s linear infinite;
    
     /* opacity: 80%; */
  }

  .cube-loader .cube-wrapper .cube-span img {
    width: 100% ;
    display: none;
    
  }

  .cube-top {
    position: absolute;
    width: 19rem;
    height: 19rem;
    background: hsla(330, 3%, 25%, 0.892) 0%;
    transform: rotateX(90deg) translateZ(9.5rem);
    transform-style: preserve-3d;
    
  }

  .cube-top::before {
    content: "";
    position: absolute;
    width: 19rem;
    height: 19rem;
    background: rgba(0, 0, 0, 0.586) 19.6%;
    transform: translateZ(-25rem);
    filter: blur(10px);
    box-shadow: 0px 0px 10px #323232;
    animation: xiado 5s linear infinite;
   
  } 


  /* ---------------- Projetos --------------------- */

  #projetos {
    display: none;
  }
  .container-3 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }

  .box-projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .lado-esquerda {
    width: 90%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.593);
    border-radius: 1rem;
  }

   .imagem-site {
    width: 60%;
    border-radius: 2rem;
    overflow: hidden;
  }

  .imagem-site img {
    width: 100%;
  }

  .descricao-site {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }

  .descricao-site > h3 {
    font-size: 3rem;
    padding: 1rem 0;
  }

  .descricao-site h4 {
    font-size: 2.2rem;
    padding: 1rem 0;
  }

  .descricao-site p {
    font-size: 1.8rem;
    padding: 1rem 0;
  }

  .icones-projetos {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }

  .icones-projetos a {
    margin-right: 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #3d3d3d;
    
  }


  

  /* ---------------- Habilidades ----------------- */

  .container-4 {
    min-height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
  }

  .title3 {
    margin-top: 9rem;
  }

  .box-habilidades {
    width: 100%;
    margin-top: 5rem;
    padding: 3rem;
  }

  .cards {
    display: flex;
    justify-content: space-around;
  }

  .card-container {
    width: 250px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #0000007b;
  }

  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s linear;
  }

  .card .front-content p {
    transition: all 1s linear;
  }

  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    background: linear-gradient(-45deg, #7b7b7b 0%, #3d3d3d 100%);
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;

    transform: translateX(-96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .content p {
    font-size: 1.5rem;
  }

  .card:hover .content {
    transform: translateY(0);
  }

  .card:hover .front-content {
    transform: translateX(-30%);
  }

  .card:hover .front-content p {
    opacity: 0;
  }


}
